xavier/
xavier_calendars/
xavier_computed/
xavier_dfs/
sheffield/
sheffield_calendars/
sheffield_computed/
sheffield_dfs/
calendars_sacks
calendars_sacks/
calendars_sacks_interp/
.ipynb_checkpoints*
.Rhistory
.Rproj.user
sheffield
