merra
merra/
merra_calendars/
merra_computed/
xavier/
xavier_calendars/
xavier_computed/
xavier_dfs/
sheffield/
sheffield_calendars/
sheffield_computed/
sheffield_vpd/
sheffield_dfs/
sheffield_dfs_vpd/
calendars_sacks
calendars_sacks/
calendars_sacks_interp/
apagar/
plots_sr_memo/
plots_sr_memo_global/
gdd_betas/
gdd_betas/*
.ipynb_checkpoints*
.Rhistory
.Rproj.user
sheffield
*.ods#
GIS
.RData
cropmap
cropmap/
rasters_sr_memo_global/
