merra
merra/
merra_calendars/
merra_computed/
xavier/
xavier_calendars/
agcfsr_computed/
bcagcfsr_computed/
agmerra_computed/
merra_computed/
agcfsr_dfs/
bcagcfsr_dfs/
agmerra_dfs/
merra_dfs/
rgagcfsr_dfs/
xavier_computed/
rgagcfsr_computed/
xavier_dfs/
sheffield/
sheffield_calendars/
sheffield_computed/
sheffield_vpd/
sheffield_dfs/
sheffield_dfs_vpd/
calendars_sacks
calendars_sacks/
calendars_sacks_interp/
apagar/
plots_sr_memo/
plots_sr_memo_global/
gdd_betas/
gdd_betas/*
.ipynb_checkpoints*
.Rhistory
.Rproj.user
sheffield
*.ods#
GIS
.RData
cropmap
cropmap/
rasters_sr_memo_global/
agcfsr_calendars/
bcagcfsr_calendars/
agmerra_calendars/
merra_calendars/
agcfsr_computed_partial/
bcagcfsr_computed_partial/
rgagcfsr_computed_partial/
agcfsr_dfs_partial/
bcagcfsr_dfs_partial/
rgagcfsr_dfs_partial/
gdd_betas_pixel/
gdd_betas_pixel_partial/
vpd_scaling/
tmaxsens/
scenario_tables/
